body {
  font-family: "Open Sans", sans-serif;
  background: #2D2D2D;
  color: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.38px;
}

.subtitle {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.92px;
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
}

.btn__light {
  position: relative;
  max-width: 395px;
  height: 87px;
  cursor: pointer;
  font-family: "Russo One";
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #F1F1F1;
  background: #2194FF;
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
  border-radius: 11px;
  border: none;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn__light .btn__dec {
  position: absolute;
}
.btn__light .btn-dec-1 {
  top: 9px;
  left: 9px;
}
.btn__light .btn-dec-2 {
  bottom: 9px;
  left: 9px;
}

.intro__subbutton {
  margin: 13px 0 0 13px;
  color: #f1f1f1;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 35px 10px 33px;
  text-decoration: none;
  border-radius: 50px;
  background: #2194FF;
  color: #f1f1f1;
}

.header {
  margin: 24px 0 -5px 0;
}
.header .header__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.header .header__body .header__infobox {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .header__body .header__infobox .header__text {
  max-width: 155px;
  padding-left: 21px;
  margin: 19px 0 0 0;
  border-left: 1px solid #FFFFFF;
  font-weight: 400;
  font-style: italic;
  font-display: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #2194FF;
}
.header .header__body .header__infobox .header__text:hover {
  text-decoration: underline;
}
.header .header__body .header__calling {
  display: flex;
  flex-direction: column;
}
.header .header__body .header__calling .header__tell {
  text-decoration: none;
  color: #f1f1f1;
}
.header .header__body .header__calling .header__question {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-top: 5px;
  color: #2194FF;
}

.intro {
  position: relative;
  padding-bottom: 72px;
}
.intro .intro__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro .intro__body .intro__textbox {
  max-width: 535px;
  padding: 37px 0 0 0;
}
.intro .intro__body .intro__textbox .intro__service {
  display: flex;
  justify-content: space-between;
}
.intro .intro__body .intro__textbox .intro__service .intro__blog .intro__blog-top {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.intro .intro__body .intro__textbox .intro__service .intro__blog .intro__blog-text {
  font-weight: 300;
  opacity: 0.5;
  color: #f1f1f1;
}
.intro .intro__body .intro__textbox .intro__title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 63px;
  color: #2194FF;
}
.intro .intro__body .intro__textbox .intro__subtitle {
  max-width: 300px;
  position: relative;
  margin: 14px 0 40px 0;
  color: #f1f1f1;
}
.intro .intro__body .intro__textbox .intro__arrow-path {
  position: absolute;
  top: 230px;
  left: 550px;
}
.intro .intro__body .intro__imgbox img {
  position: absolute;
  top: 0;
  right: 0;
}

.info {
  position: relative;
  padding: 46px 0 64px 0;
}
.info .info__bac {
  width: 100%;
  height: 535px;
  left: 0;
  top: 0;
  position: absolute;
  background: #2194FF;
  opacity: 0.05;
  z-index: -1;
}
.info .info__title {
  text-align: center;
  margin-bottom: 49px;
  color: #2194FF;
}
.info .info__body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.info .info__body .info__textbox {
  max-width: 260px;
}
.info .info__body .info__textbox .info__textbox-subtitle {
  color: #2194FF;
}
.info .info__body .info__textbox .info__textbox-text {
  margin: 21px 0 28px 0;
  opacity: 0.5;
}
.info .info__body .info__centerbox {
  text-align: center;
}
.info .info__body .info__centerbox .info-blog__title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F1F1F1;
  opacity: 0.7;
}
.info .info__body .info__centerbox .info-blog {
  display: inline-flex;
  margin-top: 17px;
}
.info .info__body .info__centerbox .info-blog .info__statisticbox {
  padding-right: 25px;
}
.info .info__body .info__centerbox .info-blog .info__statisticbox .info__statistic {
  color: rgba(241, 241, 241, 0.7);
}
.info .info__body .info__centerbox .info-blog .info__statisticbox .info-blog__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(241, 241, 241, 0.7);
}
.info .info__body .info__centerbox .info-blog .info__statisticbox:nth-child(2) {
  padding: 0 0 0 25px;
  border-left: 1px solid rgba(241, 241, 241, 0.3);
}/*# sourceMappingURL=style.css.map */