$blue: #2194FF;
$white: #f1f1f1;

body {
  font-family: 'Open Sans', sans-serif;
  background: #2D2D2D;
  overflow-x: hidden;
  color: $white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1116px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.38px;
}

.subtitle {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.92px;
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 21.79px;
}

.btn__light {
  position: relative;
  max-width: 395px;
  height: 87px;
  text-decoration: none;
  padding: 0 9px;
  cursor: pointer;
  font-family: 'Russo One';
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #F1F1F1;
  background: #2194FF;
  box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
  border-radius: 11px;
  border: none;
  transition: all .2s ease-in;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  .btn__dec {
    position: absolute;
    left: 9px;
    right: 9px;
  }
  .btn-dec-1 {
    top: 9px;
  }
  .btn-dec-2 {
    bottom: 9px;
  }
}

.btn__light:hover {
  opacity: .8;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 8px 35px 10px 33px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  background: $blue;
  transition: all .2s ease-in;
  color: $white;
  cursor: pointer;
}

.btn:hover {
  opacity: .8;
}

.bac {
  width: 100%;
  height: 560px;
  left: 0;
  top: 0;
  position: absolute;
  background: $blue;
  opacity: .05;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 10px;
  z-index: 99;
}

::-webkit-scrollbar-thumb:hover {
  background: #4da9ff;
}

.header {
  margin: 18px 0 -8px 0;
  .header__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .header__infobox {
      display: flex;
      align-items: center;
      gap: 24px;
      .header__text {
        max-width: 151px;
        padding-left: 20px;
        margin: 17px 0 0 0;
        border-left: 1px solid #FFFFFF;
        font-weight: 400;
        font-style: italic;
        font-size: 16px;
        line-height: 18px;
        text-decoration: none;
        color: $blue;
      }
      .header__text:hover {
        text-decoration: underline;
      }
    }
    .header__calling {
      display: flex;
      flex-direction: column;
      padding: 7px 0 0 0;
      .header__tell {
        text-decoration: none;
        color: $white;
      }
      .header__question {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        margin-top: 5px;
        color: $blue;
      }
    }
  }
}

.intro {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 71px;
  .intro__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .intro__textbox {
      position: relative;
      max-width: 535px;
      padding: 37px 0 0 0;
      .intro__service {
        display: flex;
        justify-content: space-between;
        .intro__blog {
          padding: 0 3px 0 5px;
          .intro__blog-top {
            display: flex;
            gap: 8px;
            margin-bottom: 8px;
          }
          .intro__blog-text {
            font-weight: 300;
            opacity: .5;
            color: $white;
          }
        }
      }
      .intro__title {
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 64px;
        line-height: 63px;
        margin: 10.5px 0 0 5px;
        color: $blue;
      }
      .intro__subtitle {
        max-width: 300px;
        position: relative;
        // background: url('./../img/path.svg') no-repeat 327px, 1px center/contain;
        margin: 15px 0 39px 0;
        color: $white;
        span {
          margin-left: 7px;
        }
      }
      .intro__arrow-path {
        position: absolute;
        top: 242px;
        left: 302px;
      }
      .btn__light {
        width: 395px;
        span {
          width: 300px;
        }
      }
      .intro__subbutton {
        font-weight: 600;
        margin: 14px 0 0 19px;
        color: $white;
      }
    }
    .intro__imgbox {
      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.info {
  position: relative;
  padding: 46px 0 38px 0;
  .bac {
    height: 535px;
  }
  .info__title {
    text-align: center;
    margin-bottom: 49px;
    color: $blue;
  }
  .info__body {
    display: flex;
    justify-content: space-between;
    .info__textbox {
      position: relative;
      min-width: 260px;
      padding-top: 28px;
      .info__textbox-subtitle {
        color: $blue;
      }
      .info__textbox-text {
        max-width: 252px;
        margin: 21px 0 28px 0;
        opacity: .5;
      }
      .btn {
        position: absolute;
        left: 0;
        bottom: 57px;
      }
    }
    .info__centerbox {
      text-align: center;
      .info-blog__title {      
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        padding-right: 2px;
        color: #F1F1F1;
        opacity: .7;
      }
      .info-blog {
        display: inline-flex;
        margin: 13px 0 15px 0;
        .info__statisticbox {
          padding-right: 25px;
          .info__statistic {
            color: rgba(241, 241, 241, 0.7);
          }
          .info-blog__subtitle {
            font-family: 'Russo One', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-align: left;
            margin-top: -11px;
            color: rgba(241, 241, 241, 0.7);
          }
        }
        .info__statisticbox:nth-child(2) {
          padding: 0 0 0 25px;
          border-left: 1px solid rgba(241, 241, 241, 0.3);
        }
      }
      .info__dec {
        padding-right: 14px;
      }
    }
  }
}

.about__me {
  padding: 58px 0 0 0;
  .about__me-title {
    text-align: center;
  }
  .about__me-body {
    padding: 20px 0 89px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 30px;
    .about__me-blog {
      max-width: 322px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .interior__box-top {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .interior__box {
        height: 50%;
        text-align: center;
      }
      .about__me-subtitle {
        margin: 8px 0 14px 0;
        color: $blue;
      }
      .about__me-text {
        opacity: .7;
        font-size: 14px;
      }
    }
  }
  .about__me-bottom {
    display: flex;
    justify-content: space-between;
    .about__me-imgbox {
      width: 546px;
      overflow: visible;
      img {
        margin-left: -32px;
      }
    }
    .about__me-textbox {
      min-width: 534px;
      .about__me-bottom-title {
        color: $white;
        margin-bottom: 20px;
        letter-spacing: -.6px;
        line-height: 42.18px;
        span {
          color: $blue;
        }
      }
      .about__me-button {
        display: block;
        text-align: center;
        text-decoration: none;
        font-weight: 800;
        font-size: 14px;
        line-height: 19px;
        background: $blue;
        padding: 6px 18px 9px 12px;
        transition: all .2s ease-in;
        letter-spacing: .29px;
        color: $white;
      }
      .about__me-button:hover {
        opacity: .8;
      }
    }
  }
}

.products {
  margin: -5px 0 0 0;
  padding: 34px 0 64px 0;
  position: relative;
  .bac {
    height: 587px;
  }
  .products__title {
    text-align: center;
    padding-left: 17px;
    color: $blue;
  }
  .products__body {
    padding: 35px 0 0 0;
    .products__btns {
      display: flex;
      justify-content: center;
      gap: 24px;
      .products__btn {
        font-family: 'Russo One', sans-serif;
        width: 164px;
        padding: 9px 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #F1F1F1;
        text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
        background: rgba(241, 241, 241, 0.2);
        color: $white;
        border-radius: 20px;
        border: none;
        transition: all .2s ease;
        cursor: pointer;
      }
      .products__btn:hover {
        background: $blue;
      }
      .btn_ative {
        background: $blue;
      }
    }
    .products__carousel {
      height: 261px;
      overflow: hidden;
      text-align: center;
      padding: 37px 0 0 0;
      .products__truck {
        display: none;
      }
      .truck_active {
        display: inline-block;
      }
    }
  }
  .products__btn-prm {
    text-align: center;
    .btn__light {
      position: relative;
      padding: 0 7px;
      width: 295px;
      letter-spacing: 1.1px;
      .btn__dec {
        left: 7px;
      }
      img {
        width: 280px;
      }
    }
  }
}

.carousel-section {
  padding: 40px 0 58px 0;
  .carousel__title {
    text-align: center;
  }
  .carousel__arrows {
    display: flex;
    position: relative;
    .arrow {
      position: absolute;
      top: 177px;
      cursor: pointer;
    }
    .arrow:nth-child(1) {
      left: 30px;
    }
    .arrow:nth-child(2) {
      right: 30px;
    }
  }
  .carousel__body {
    white-space: nowrap;
    display: flex;
    transition: all .5s ease;
    overflow: hidden;
    max-width: 839px;
    margin: 0 auto;
    padding: 47px 0 24px 0;
    .carousel__blog {
      display: flex;
      gap: 23px;
      padding: 40px;
      background: $white;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      .carousel__info {
        padding: 10px 0 0 0;
        max-width: 445px;
        .carousel__subtitle {
          color: $blue;
        }
        .carousel__location {
          font-family: 'Russo One';
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          margin: 4px 0 15px 0;
          color: #2D2D2D;
        }
        .carousel__text {
          color: #2D2D2D;
        }
      }
    }
  }
}

.faq {
  position: relative;
  padding: 37px 0 40px 0;
  .bac {
    height: 100%;
  }
  .container {
    max-width: 1180px;
    .faq__title {
      text-align: center;
      padding-right: 93px;
      color: $blue;
    }
    .faq__body {
      padding: 26px 0 0px 0;
      .faq__item {
        padding: 24px 0 9px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        .faq__visible {
          display: flex;
          align-items: center;
          padding-left: 30px;
          gap: 20px;
          .faq__arrow {
            width: 20px;
            transition: all .3s ease;
          }
          .faq__subtitle {
            font-weight: 700;
            font-size: 16px;
            transition: all .3s ease;
            line-height: 22px;
            text-transform: uppercase;
            color: #F1F1F1;
          }
        }
        .faq__text {
          transition: all .2s ease;
          position: relative;
          opacity: 0;
          z-index: -1;
          margin: -10px 0 0 0;
        }
      }
      .faq__item:hover {
        .faq__visible {
          .faq__arrow {
            color: $blue;
          }
          .faq__subtitle {
            color: $blue;
          }
        }
      }
      .faq__item.faq__active {
        .faq__visible {
          .faq__arrow {
           transform: rotate(-180deg);
           color: $blue;
          }
          .faq__subtitle {
            color: $blue;
          }
        }
        .faq__text {
          font-weight: 300;
          font-size: 13px;
          line-height: 22px;
          margin: 15px 0 14px 70px;
          letter-spacing: -.45px;
          opacity: .6;
          z-index: 1;
          color: #F1F1F1;
        }
      }
      .faq__item:nth-child(5) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.register {
  padding: 55px 0 34px 0;
  .register__body {
    display: flex;
    padding-bottom: 59px;
    .register__textbox {
      max-width: 550px;
      .regsiter__title {
        margin-bottom: 49px;
      }
      .register__input {
        min-width: 402px;
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -.3px;
        text-transform: uppercase;
        outline: none;
        padding: 17px 0 16px 21px;
        color: rgba(45, 45, 45, 0.5);
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        resize: none;
        margin: 0 0 24px 0;
      }
      .register__input::placeholder {
        color: rgba(45, 45, 45, 0.5);
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
      }
      .register__input:nth-child(4) {
        height: 112px;
      }
      .btn {
        padding: 11px 41px 11px 39px;
        letter-spacing: .6px;
      }
    }
    .register__imgbox {
      position: relative;
      margin: -20px 0 0px 36px;
      .about__roman {
        position: absolute;
        bottom: 98px;
        left: -30px;
        border-radius: 20px;
        padding: 11px 21px 19px 26px;
        .dec {
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          background: #2194FF;
          opacity: 0.8;
          border-radius: 20px;
          z-index: -1;
        }
        .register__name {
          font-weight: 700;
          font-size: 24px;
          line-height: 29px;
          color: #f1f1f1;
        }
        .register__job-title {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          margin: 2px 0 0 0;
          color: #f1f1f1;
        }
      }
      img {
        position: relative;
        z-index: -99;
      }
    }
  }
  .partners {
    display: flex;
    justify-content: space-between;
    .partner {
      width: 166px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 7px 0;
      background: #F1F1F1;
      border-radius: 20px;
    }
  }
}

.footer {
  .container {
    max-width: 1180px;
    .footer__title {
      max-width: 800px;
      margin: 0 auto;
      padding-right: 6px;
      font-weight: 400;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
      color: #2194FF;
    }
    .btnbox {
      text-align: center;
      .btn__light {
        max-width: 295px;
        margin: 11px 7px 40px 0;
        position: relative;
        padding: 0 7px;
        letter-spacing: 1.1px;
        width: 295px;
        img {
          width: 281px;
        }
      }
    }
    .footer__body {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      background: #F1F1F1;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 33px;
      .footer__textbox {
        padding: 40px;
        &-title {
          max-width: 380px;
          text-transform: uppercase;
          letter-spacing: 1.8px;
          color: $blue;
        }
        .footer__subtitle {
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          margin: 15px 0 20px 0;
          color: #1B2639;
          span {
            padding-left: 7px;
          }
        }
        .line {
          width: 100%;
          margin-bottom: 30px;
          border: 1px solid rgba(27, 38, 57, 0.2);
        }
        .footer__about {
          margin-bottom: 45px;
          .about__title {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            text-transform: uppercase;
            margin-bottom: 3px;
            color: #2194FF;
          }
          .about__subtitle {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            text-decoration: none;
            color: #1B2639;
          }
        }
        .footer__about:nth-child(2) {
          margin: 0;
        }
      }
      .footer__map {
        iframe {
          width: 570px;
          height: 483px;
        }
      }
    }
    .footer__bottom {
      display: flex;
      justify-content: space-between;
      padding: 40px 32px 68px;
      .footer__link {
        max-width: fit-content;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-decoration-line: underline;
        opacity: .8;
        color: #F1F1F1;
      }
    }
  }
}

.test {
  font-size: 16px;
  .testbox {
    font-size: 12.8px;
    p {
      font-size: .5rem;
    }
  }
}

.popup.popup__open {
  z-index: 99;
  opacity: 1;
  .popup__body {
    .popup__blog {
      transform: translate(0px, 0vh) rotate(0deg);
    }
  }
}

.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: all 1s ease;
  opacity: 0;
  z-index: -1;
  .popup__body {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(45, 45, 45, 0.9);
    .popup__blog {
      transition: all .5s ease;
      transform: translate(0px, -100vh) rotate(-90deg);
      .popup__item {
        max-width: 482px;
        height: 408px;
        text-align: center;
        padding: 30px 30px 40px 30px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 33px;
        .popup__title {
          font-family: 'Russo One', sans-serif;
          font-weight: 400;
          font-size: 24px;
          line-height: 29px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          color: $blue;
          margin-bottom: 26px;
          span {
            text-align: left;
          }
          img {
            cursor: pointer;
          }
        }
        .popup__input {
          width: 100%;
          padding: 17px 0 18px 22px;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          color: rgba(45, 45, 45, 0.5);
          outline: none;
          background: #FFFFFF;
          border: 1px solid #DEDEDE;
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          margin-bottom: 24px;
        }
        .popup__input::placeholder {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          color: rgba(45, 45, 45, 0.5);
        }
        .btn__light {
          width: 100%;
          margin: 18px auto 0 auto;
        }
      }
      .popup__subtitle {
        max-width: 462px;
        margin: 20px auto 0 auto;
        text-align: center;
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        opacity: 0.6;
      }
    }
  }
}

@media only screen and (max-width: 1772px) {
  .intro {
    .intro__body {
      .intro__imgbox {
        img {
          right: -165px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1480px) {
  .intro {
    .intro__body {
      .intro__imgbox {
        img {
          height: 430px;
          right: -280px;
        }
      }
    }
  }
}